:root {
    --nav-color: #E2E6E5;
    --font-black: #000000;
    --font-white: #F1ECE8;
    --hover-btn: #9eb28d;
    --lyserød: #ffcae2;
    --lyseblå: #D2EAFA;
    --lysegrøn: #D0F4EA;
    --gul: #F4FA9C;
    --orange: #EB9C65;
}

@font-face {
    font-family: 'Organo';
    src: url('fonts/Organo.ttf') format('truetype');
    src: url('fonts/Organo.woff2') format('woff2'), url('fonts/Organo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf') format('truetype');
    src: url('fonts/Helvetica.woff2') format('woff2'), url('fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica-Bold.ttf') format('truetype');
    src: url('fonts/Helvetica-Bold.woff2') format('woff2'), url('fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica-Oblique.ttf') format('truetype');
    src: url('fonts/Helvetica-Oblique.woff2') format('woff2'), url('fonts/Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica-BoldOblique.ttf') format('truetype');
    src: url('fonts/Helvetica-BoldOblique.woff2') format('woff2'), url('fonts/Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-light.ttf') format('truetype');
    src: url('fonts/helvetica-light.woff2') format('woff2'), url('fonts/helvetica-light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}


/* @font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-compressed.otf') format('opentype');
    src: url('fonts/helvetica-compressed.woff2') format('woff2'), url('fonts/helvetica-compressed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica-rounded-bold.otf') format('opentype');
    src: url('fonts/helvetica-rounded-bold.woff2') format('woff2'), url('fonts/helvetica-rounded-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/*Alt styling til det i navigationsbaren er her*/

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: var(--nav-color);
    color: white;
    width: 100%;
    margin-top: 0px;
    z-index: 300;
    border-bottom: 1px solid black;
}

.brand-title {
    width: 25%;
}

.logo {
    height: 90px;
    border: none !important;
}

.navbar-links {
    display: none;
    height: 100%;
    margin: 0 auto;
    font-family: "Helvetica";
}

.navbar-links ul {
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-linksm li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--font-black);
    padding: .7rem;
    margin-top: 2rem;
    font-size: 2.5vw;
    white-space: nowrap;
}

.navbar-linksm {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: "Helvetica";
}

.navbar-linksm li a {
    display: block;
    text-decoration: none;
    color: var(--font-black);
    padding: .7rem;
    margin-top: 2rem;
    font-size: 2.5vw;
    white-space: nowrap;
}

.navbar-linksm ul {
    padding-inline-start: 0;
    margin: 0;
}


/* .navbar-linksm.active {
    display: flex;
} */

#navbar-li {
    display: none;
}

.toggle-button {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--font-black);
    border-radius: 10px;
}

.icons {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    width: 100%;
}

.brand-name {
    /* position: absolute; */
    font-family: 'Organo';
    color: var(--font-black);
    font-size: 7vw;
    margin: 0;
}

.icons i {
    padding: .6rem;
    font-size: 26px;
    color: var(--font-black);
    margin-top: 10px;
}

Header {
    text-align: center;
    font-size: 36px;
    background-color: var(--nav-color)
}

.header-nav {
    font-family: 'Organo';
    width: 200px;
    height: 100%;
    margin-top: -70px;
    z-index: 300;
    font-size: 55px;
    margin-bottom: 30px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.navbar-linksm ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding-top: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--nav-color);
    width: 100%;
}

.navbar-linksm ul a {
    margin-top: 0px;
    border-bottom: 1px solid #000000;
    font-size: 3vh;
}


/*Knapper*/

.btn {
    background-color: var(--nav-color);
    color: var(--font-black);
    border: 1px solid #000000;
    border-radius: 100px;
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
    position: relative;
    font-family: "Helvetica";
    font-weight: bold;
    margin-top: 0px;
}

.btn-primary {
    background-color: var(--nav-color);
    color: var(--font-black);
    border: 1px solid #000000;
    border-radius: 100px;
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    justify-content: center;
    cursor: pointer;
    font-family: "Helvetica";
    font-weight: bold;
    white-space: nowrap;
    margin-top: -20px
}


/*Styling til forsiden*/

.container-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0;
}

.push {
    margin-top: 120px;
    padding-bottom: 10px;
    margin-bottom: 10px
}

img {
    border-radius: 10px;
}

.banner {
    margin-top: 90px;
    display: flex;
    flex: 100;
    width: 100%;
    flex-direction: column;
}

.banner img {
    border-radius: 0;
}

.banner h1 {
    text-align: center;
    color: #E2E6E5;
    font-family: 'organo';
    margin-top: -25%;
}

.container-btn {
    display: flex;
    flex-direction: row;
}

.box1 {
    margin-top: 20px
}

.box1 img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box2 {
    margin-top: 20px
}

.box2 img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: -70px 0;
}

.box3 img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box4 img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn1 {
    position: relative;
    margin-bottom: -3%;
    width: 60%;
    text-transform: uppercase;
    font-family: "Helvetica";
}

.btn2 {
    position: relative;
    width: 60%;
    text-transform: uppercase;
    font-family: "Helvetica"
}

.btn3 {
    position: relative;
    width: 26.4%;
    text-transform: uppercase;
    font-family: "Helvetica"
}

.btn4 {
    margin-top: 20px;
    width: 26.4%;
}

.box {
    float: left;
    flex: 40%;
    max-width: 40%;
    margin-bottom: 20px;
    justify-content: space-evenly;
    height: auto;
    background-color: var(--nav-color);
    border-radius: 10px;
    line-height: 0.5;
}

.box3 {
    margin-top: 30px;
    max-height: 235px;
    max-width: 85.88%;
}

.box img {
    width: 100%;
}

.box h3,
h4,
p {
    text-align: center;
}

.container-about {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 85%;
    border-radius: 10px;
    background-color: var(--nav-color);
    padding: 0 10px;
}

.container-about h2 {
    text-align: center;
    padding: 0 10px;
}

.container-about img {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container-box p {
    margin-bottom: 20px;
}

.mobile {
    display: flex;
}

.pc {
    display: none;
}


/*Footer styling*/

footer {
    background-color: var(--nav-color);
    display: flex;
    width: 100%;
    height: 100%;
}

.foot-webshop {
    list-style: none;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 3.3;
    text-transform: uppercase;
    padding: 0;
    font-family: "Helvetica";
    font-weight: normal;
    font-style: normal;
}

.foot-webshop header {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px
}

.foot-webshop li a {
    text-decoration: none;
    color: var(--font-black);
}

.footer-copyright {
    display: flex;
    justify-content: space-evenly;
    height: 36px;
    border-top: 1px solid var(--font-black);
}

.footer-copyright:nth-child(1) {
    padding-top: 10px
}

.footer-copyright a {
    text-decoration: none;
    color: var(--font-black);
    font-size: 12px;
    font-family: "Helvetica";
    padding-top: 10px;
    height: 24px;
}

#copyright {
    font-family: "Helvetica";
    padding-left: 3px;
}

.pay {
    margin-top: -5px;
}

#mobilepay {
    height: 25px;
    width: auto;
    padding-left: 3px;
    position: absolute;
    margin-top: -5px;
    object-fit: cover;
}

.SoMe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.banner {
    width: 100%;
}

.mobile {
    display: flex
}

.pc {
    display: none;
}

.hide {
    opacity: none;
}

.product-push {
    margin-top: 90px;
    margin-bottom: 90px;
}

#img-kanin-frugt {
    margin-top: 0px;
    opacity: 0;
    width: 30%;
    margin-left: -30%;
    position: absolute;
}

#img-kanin-frugt:hover {
    transition: .6s ease-in;
    opacity: 1;
}


/* detaljeret side styling */

.detalside h2 {
    margin-top: 14vh;
    margin-bottom: 0;
    font-family: 'Organo';
    font-size: 4vh;
    text-align: center;
}

.productImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vh;
    margin-right: 2vh;
}

.product {
    width: 30vh;
}

.fa-circle-chevron-right,
.fa-circle-chevron-left {
    font-size: 5vh;
}

.dotLarge {
    height: 200px;
    width: 400px;
    border-top-right-radius: 400px;
    border-top-left-radius: 400px;
    transform: rotate(-90deg);
    /* border-radius: 50%; */
    display: inline-block;
    position: absolute;
    margin-top: -10vh;
    left: 10.7vh;
    z-index: -10;
}

.smallDots {
    width: 100vw;
    align-content: space-between;
}

.dot {
    margin: 2vh 0vh 2vh 0vh;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

.grøn {
    background-color: var(--lysegrøn);
}

.lyserød {
    background-color: var(--lyserød);
}

.blå {
    background-color: var(--lyseblå);
}

.gul {
    background-color: var(--gul);
}

.orange {
    background-color: var(--orange);
}

@media (min-width: 800px) {
    /*Navigationsbar styling til Mobil/Tablet*/
    .navbar {
        flex-direction: row;
        align-items: space-between;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        border-bottom: none;
        margin-top: -90px;
        height: 130px;
    }
    .logo {
        height: 145px
    }
    .logo-foot {
        height: 260px
    }
    .brand-title {
        width: 30vw
    }
    .toggle-button {
        display: none;
    }
    .nav-desktop {
        color: #000000;
        display: flex;
        flex-direction: column;
        width: 30vw
    }
    .navbar-links {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: center;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: 1rem 1rem 0rem 1rem;
        margin-top: 0px;
    }
    .navbar-linksm {
        display: none;
        align-items: center;
        width: 100%;
    }
    .navbar-linksm li a {
        display: block;
        text-decoration: none;
        color: var(--font-black);
        padding: .7rem;
        margin-top: 2rem;
        font-size: 2.5vw;
        white-space: nowrap;
    }
    .navbar-linksm.active {
        display: flex;
    }
    .icons {
        display: flex;
        width: 30vw;
        justify-content: flex-end;
        margin-right: 0;
        margin-top: 20px;
    }
    .header-nav {
        display: flex;
        justify-content: center;
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /*Forside styling*/
    #about {
        margin-top: 25px;
    }
    .box {
        max-width: 30%;
        flex: 30%;
    }
    .box1 {
        margin-top: 0px
    }
    .box2 {
        margin-top: 0px
    }
    .box3 {
        margin-top: 0px;
        max-height: none;
    }
    .box4 {
        max-height: 30vw;
        max-width: 62.5%;
    }
    .box5 {
        max-height: 30vw;
        max-width: 30%;
        font-family: "Helvetica";
        line-height: 1
    }
    .box5 h2 {
        font-size: 26px;
        text-align: center;
        font-family: 'organo';
        padding: 0 5px;
    }
    .box5 p {
        text-align: left;
        padding: 0 15px;
    }
    .container-box {
        margin-top: 90px;
        flex-wrap: wrap;
    }
    .push {
        margin-top: -40px;
    }
    .btn {
        font-size: 1.5vw;
        height: 50px;
        width: 12vw;
        margin-top: 0%;
        font-weight: bold;
        position: static;
    }
    .btn3 {
        width: 60%
    }
    .btn4 {
        width: 60%
    }
    .banner h1 {
        margin-top: -27%;
        font-size: 3vw;
    }
    /*Footer styling*/
    footer {
        padding-left: 5%;
        padding-right: 5%;
    }
    .foot-webshop {
        columns: 1;
        justify-content: center;
        width: 30vw;
        padding: 0;
        line-height: 2;
    }
    .footer-copyright {
        padding-left: 2.7%;
        padding-right: 7.3%;
    }
    .brand-title-foot {
        width: 30vw;
    }
    .SoMe-icons {
        display: flex;
        flex-direction: column;
        width: 30vw;
    }
    .SoMe-icons header {
        font-size: 1.6vw;
        margin-top: 40px;
        font-family: "Helvetica";
        font-weight: bold;
        text-transform: uppercase;
    }
    .SoMe {
        margin-top: 30px;
    }
    .SoMe i {
        color: var(--font-black)
    }
    .pc {
        display: flex;
    }
    .mobile {
        display: none;
    }
}